<div *ngIf="newSong">
  <div *ngIf="!editing">
    <div class="">
      <h1>{{newSong.name}}</h1>
    </div>
    <div class="">
      <div class="col" style="margin-bottom:16px"><span>Artists: </span>
        <span *ngFor="let artist of newSong.artists"
          style="background-color:#d0d0d0; margin-right:5px; padding:2px 5px">{{artist}}</span>
      </div>
    </div>
    <div class="">
      <div class="col">
        <span *ngFor="let star of newSong.stars">{{star}}</span>
      </div>
    </div>
    <div class="">
      <div class="col">
        <div>Length: {{newSong.min}}:{{newSong.sec}}</div>
      </div>
    </div>
    <div class="" style="margin-bottom:16px">
      <div class="col">
        <div>Release Year: {{newSong.releaseYear}}</div>
      </div>
    </div>
    <div style="margin-bottom:24px">
      <button class="btn btn-primary" (click)="edit(true)">Edit</button>
      <button class="btn btn-danger" (click)="delete(newSong)" style="margin-left:14px">Delete</button>
    </div>
  </div>
  
  <div *ngIf="editing">
    <div class="">
      <h1>{{newSong.name}}</h1>
      <div class="col" style="margin-bottom:16px">
        <form (ngSubmit)="update(updateSong)">
          <div class="form-group">
            <label for="name">Name: </label>
            <input [(ngModel)]="updateSong.name" id="name" name="name" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label for="artists">Artist: </label>
            <input [(ngModel)]="updateSong.artists" id="artists" name="artists" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label for="length">Length in second: </label>
            <input [(ngModel)]="updateSong.length" id="length" name="length" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label for="releaseYear">Release Year: </label>
            <input [(ngModel)]="updateSong.releaseYear" id="releaseYear" name="releaseYear" class="form-control"
              required="required">
          </div>
          <br>
          <div style="margin-bottom:14px">
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-default" (click)="edit(false)" style="margin-left:14px">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>