extends layout

block content
  .container
    .row
      h1 #{title}
      a(href=`/songs/new`) Add a new song
      ul.list-group
      each song in songs
        li.list-group-item 
          a(href=`/songs/${song._id}`) [#{song.artists}] #{song.name}
